version: '3'

services:

  node:
    build:
      context: .
      dockerfile: ${PWD}/nodejs/Dockerfile
      args:
        - project_dir=./data/${PROJECT_DIR}
    ports:
      - "8888:8888"
    volumes:
      - ${PWD}/data/${PROJECT_DIR}:/home/node/app
    stdin_open: true
    tty: true
    env_file:
      - ${PWD}/nodejs/nodejs.env
